
<div class="container">
  <div class="text-container">
        <ul>
          <h2>¡Contactanos!</h2><br>
          <li class="fa fa-map-marker"></li>
          <h4>Alem 1111 esq primera junta</h4>
          <li class="fa fa-phone"></li>
          <h4>111-1111</h4>
          <li class="fa fa-envelope"></li>
          <h4>freshy@mail.com</h4>
          <li class="fa fa-whatsapp"></li>
          <h4>(223) 111-111111</h4>
          <li class="fa fa-facebook-square"></li>
          <h4>/freshymarket</h4>
          <li class="fa fa-instagram"></li>
          <h4>/freshygreenmarket</h4>
        </ul>
  </div>
</div>
