
<div class="container">
  <div class="text-container">
      <h2>Contactanos!</h2><br>
        <ul>
          <li class="fa fa-map-marker"> - Alem 1111 esq primera junta</li><br><br>
          <li class="fa fa-phone"> - 111-1111</li><br><br>
          <li class="fa fa-envelope"> - freshy@mail.com</li><br><br>
          <li class="fa fa-whatsapp"> - (223) 111-111111</li><br><br>
          <li class="fa fa-facebook"> - /freshymarket</li><br><br>
          <li class="fa fa-instagram"> - /freshygreenmarket</li>
        </ul>
  </div>
</div>
