
<div class="container">
  <div class="text-container">
        <ul>
          <h2>¡Contactanos!</h2><br>
          <li class="fa fa-map-marker"></li>
          <h4>Alem 3495 (esquina Primera Junta)</h4>
          <li class="fa fa-phone"></li>
          <h4>(223) 451-2396</h4>
          <li class="fa fa-envelope"></li>
          <h4>freshy@mail.com</h4>
          <li class="fa fa-whatsapp"></li>
          <h4>223 5379959</h4>
          <li class="fa fa-facebook-square"></li>
          <h4>/freshymarket</h4>
          <li class="fa fa-instagram"></li>
          <h4>/freshygreenmarket</h4>
        </ul>
  </div>
</div>
