<div class="container">
  <h2 style="text-align: center;" >Promociones</h2><br>
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-4">
        <div class="card h-125">
          <img src= "assets\img\Imgbolsoneco.jpeg" class="card-img-top" alt="...">
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-125">
          <img src="assets\img\Imgbolsonecomix.jpeg" class="card-img-top" alt="...">
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-125">
          <img src="assets\img\Imgbolsonfreshy.jpeg" class="card-img-top" alt="...">
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-125">
          <img src="assets\img\Imgruta.jpeg" class="card-img-top" alt="...">
        </div>
      </div>
    </div>
    <a href="#" class="btn btn-primary" routerLink="/productos">Volver</a>
</div>

<router-outlet></router-outlet>
