<div class="container">
  <h2 style="text-align: center;" >Panificados</h2>
  <table class="table table-striped">
    <thead style="background-color: rgb(197,232,108);">
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Marca</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Pan Lacteado x390g</td>
        <td>Panacity</td>
        <td>$75</td>
      </tr>
      <tr>
        <td>Pan c/Salvado x410g</td>
        <td>Panacity</td>
        <td>$75</td>
      </tr>
      <tr>
        <td>Pan Sin Sal c/Semillas x410g</td>
        <td>Panacity</td>
        <td>$80</td>
      </tr>
      <tr>
        <td>Pan c/avena y Cereales x410g</td>
        <td>Panacity</td>
        <td>$100</td>
      </tr>
      <tr>
        <td>Pan Integral c/Semillas x410g</td>
        <td>Panacity</td>
        <td>$80</td>
      </tr>
      <tr>
        <td>Pan Lacteado x570g</td>
        <td>Panacity</td>
        <td>$110</td>
      </tr>
      <tr>
        <td>Pan Integral c/Semillas x580g</td>
        <td>Panacity</td>
        <td>$125</td>
      </tr>
    </tbody>
  </table>
  <h6 style="text-align: center;" >Productos Sujetos a Disponibilidad</h6>
  <br>
  <a href="#" class="btn btn-primary" routerLink="/productos">Volver</a>
</div>

<router-outlet></router-outlet>
