<div class="container">
  <table class="table table-striped">
    <thead style="background-color: rgb(197,232,108);">
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Tipo</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Albahaca</td>
        <td>x Atado</td>
        <td>$40</td>
      </tr>
      <tr>
        <td>Ajo</td>
        <td>x Un</td>
        <td>$55</td>
      </tr>
      <tr>
        <td>Ananá</td>
        <td>x Un</td>
        <td>$185</td>
      </tr>
      <tr>
        <td>Ananá</td>
        <td>x Un</td>
        <td>$185</td>
      </tr>
      <tr>
        <td>Apio Chico</td>
        <td>x Un</td>
        <td>$50</td>
      </tr>
      <tr>
        <td>Apio Grande</td>
        <td>x Un</td>
        <td>$75</td>
      </tr>
      <tr>
        <td>Banana</td>
        <td>x Kg</td>
        <td>$120</td>
      </tr>
      <tr>
        <td>Batata</td>
        <td>x Kg</td>
        <td>$35</td>
      </tr>
      <tr>
        <td>Batata Dulce</td>
        <td>x Kg</td>
        <td>$45</td>
      </tr>
      <tr>
        <td>Berenjena</td>
        <td>x Kg</td>
        <td>$120</td>
      </tr>
      <tr>
        <td>Brócoli</td>
        <td>x Un</td>
        <td>$95</td>
      </tr>
      <tr>
        <td>Cebolla</td>
        <td>x Kg</td>
        <td>$45</td>
      </tr>
      <tr>
        <td>Cebolla Verdeo</td>
        <td>x Un</td>
        <td>$15</td>
      </tr>
      <tr>
        <td>Cúrcuma</td>
        <td>x 100g</td>
        <td>$60</td>
      </tr>
      <tr>
        <td>Chaucha</td>
        <td>x Kg</td>
        <td>$240</td>
      </tr>
      <tr>
        <td>Champiñon</td>
        <td>x Bandeja/td>
        <td>$145</td>
      </tr>
      <tr>
        <td>Choclo x 3</td>
        <td>x Bandeja</td>
        <td>$65</td>
      </tr>
      <tr>
        <td>Ensalada Mix</td>
        <td>x Un</td>
        <td>$75</td>
      </tr>
      <tr>
        <td>Espinaca</td>
        <td>x Atado</td>
        <td>$75</td>
      </tr>
      <tr>
        <td>Huevos de Campo</td>
        <td>x 1/2 doc</td>
        <td>$75</td>
      </tr>
      <tr>
        <td>Jengibre</td>
        <td>x 100g</td>
        <td>$40</td>
      </tr>
      <tr>
        <td>Kiwi Nacional</td>
        <td>x Kg</td>
        <td>$150</td>
      </tr>
      <tr>
        <td>Kiwi Importado</td>
        <td>x Un</td>
        <td>$45</td>
      </tr>
      <tr>
        <td>Lechuga Manteca</td>
        <td>x Kg</td>
        <td>$95</td>
      </tr>
      <tr>
        <td>Limón</td>
        <td>x Kg</td>
        <td>$50</td>
      </tr>
      <tr>
        <td>Mandarina Dancing</td>
        <td>x Kg</td>
        <td>$95</td>
      </tr>
      <tr>
        <td>Mandarina Nova</td>
        <td>x Kg</td>
        <td>$85</td>
      </tr>
      <tr>
        <td>Manzana Roja</td>
        <td>x Kg</td>
        <td>$95</td>
      </tr>
      <tr>
        <td>Manzana Roja Premium</td>
        <td>x Kg</td>
        <td>$120</td>
      </tr>
      <tr>
        <td>Manzana Pink Lady</td>
        <td>x Kg</td>
        <td>$120</td>
      </tr>
      <tr>
        <td>Manzana Verde Premium</td>
        <td>x Kg</td>
        <td>$120</td>
      </tr>
      <tr>
        <td>Mix de Verduras p/Sopa</td>
        <td>x Un</td>
        <td>$65</td>
      </tr>
      <tr>
        <td>Morrón Rojo</td>
        <td>x Kg</td>
        <td>$165</td>
      </tr>
      <tr>
        <td>Morrón Verde</td>
        <td>x Kg</td>
        <td>$175</td>
      </tr>
      <tr>
        <td>Naranja Jugo</td>
        <td>x Kg</td>
        <td>$75</td>
      </tr>
      <tr>
        <td>Naranja Ombligo</td>
        <td>x Kg</td>
        <td>$85</td>
      </tr>
      <tr>
        <td>Palta Premium</td>
        <td>x Kg</td>
        <td>$75</td>
      </tr>
      <tr>
        <td>Papa Blanca</td>
        <td>x Kg</td>
        <td>$45</td>
      </tr>
      <tr>
        <td>Pera</td>
        <td>x Kg</td>
        <td>$95</td>
      </tr>
      <tr>
        <td>Pepino</td>
        <td>x Kg</td>
        <td>$85</td>
      </tr>
      <tr>
        <td>Perejil</td>
        <td>x Atado</td>
        <td>$10</td>
      </tr>
      <tr>
        <td>Pomelo Ruby</td>
        <td>x Kg</td>
        <td>$120</td>
      </tr>
      <tr>
        <td>Puerro</td>
        <td>x Un</td>
        <td>$20</td>
      </tr>
      <tr>
        <td>Vegetales p/Wok</td>
        <td>x Bandeja</td>
        <td>$95</td>
      </tr>
      <tr>
        <td>Remolacha</td>
        <td>x Kg</td>
        <td>$45</td>
      </tr>
      <tr>
        <td>Rúcula</td>
        <td>x Atado</td>
        <td>$40</td>
      </tr>
      <tr>
        <td>Tomate</td>
        <td>x Kg</td>
        <td>$120</td>
      </tr>
      <tr>
        <td>Tomate Cherry</td>
        <td>x 1/4kg</td>
        <td>$60</td>
      </tr>
      <tr>
        <td>Tomate Perita</td>
        <td>x Kg</td>
        <td>$120</td>
      </tr>
      <tr>
        <td>Zanahoria</td>
        <td>x Kg</td>
        <td>$125</td>
      </tr>
      <tr>
        <td>Zapallo Anco</td>
        <td>x Kg</td>
        <td>$30</td>
      </tr>
      <tr>
        <td>Zapallo Kabuti</td>
        <td>x Kg</td>
        <td>$50</td>
      </tr>
      <tr>
        <td>Zapallito Verde</td>
        <td>x Kg</td>
        <td>$85</td>
      </tr>
      <tr>
        <td>Zucchini</td>
        <td>x Kg</td>
        <td>$145</td>
      </tr>
    </tbody>
  </table>
  <h6 style="text-align: center;" >Productos Sujetos a Disponibilidad</h6>
  <br>
  <a href="#" class="btn btn-primary" routerLink="/productos">Volver</a>
</div>

<router-outlet></router-outlet>
