
<div class="container">
    <div class="text-container">
        <h3>En Freshy Green Market podrás encontrar las mejores frutas y vegetales de la ciudad, junto a una gran variedad de productos Gourmet y mucho más!</h3><br><br>
        <h6 style="text-align: justify;">La comida es algo maravilloso, une a las familias, apoya a las comunidades y le da a los agricultores un medio, nutre nuestros cuerpos y trae alegria a nuestras vidas. <br><br>

          Nos maravillamos de lo increíble, impredecible y mágica que es la naturaleza, sus riquezas y sorpresas,  respetamos la naturaleza, siempre lo ha sido y siempre lo será, cuando comprendas lo que está haciendo la naturaleza entenderás mucho más sobre lo que encontrarás en nuestra tienda. <br><br>

          En Freshy defendemos la buena comida y lo que nos hace bien, no solo ofrecemos alimentos increíbles lo hacemos a muy buenos precios y luego lo potenciamos con iniciativas como elecciones imperfectas y sálvame. <br><br>

          Establecemos nuestras ofertas especiales solo cuando descubrimos lo que la naturaleza decidió darnos, si ella considera necesario llenar nuestras canastas con kales orgánicos, creemos que es bastante especial, así que lo ponemos en nuestra mesa central. <br><br>

          La comida natural es una de las verdaderas alegrías de la vida y comprarla tambien deberia serlo!!! Entregamos todos los días frutas y verduras frescas de los mercados locales, buscamos productos especiales de productores locales, como son nuestros vegetales y  pollo orgánico. De esta forma te pedimos que olvides la lista de los mandados y compres con tus sentidos maravillate con los colores y aprovecha los productos con los que la naturaleza nos premia cada dia.<br></h6>
    </div>
</div>
<h6 style="text-align: center; size: 50%;"><img src="assets\img\Logo.png"><br>
  <a href="#" class="btn btn-primary" routerLink="/productos">Conocé Nuestros Productos</a></h6>
