<div class="container">
  <h2 style="text-align: center;" >Productos Congelados</h2>
  <table class="table table-striped">
    <thead style="background-color: rgb(197,232,108);">
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Marca</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Bastones Rebozados Pollo y Cheddar</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Filet de Merluza a las Finas Hierbas</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Hamburguesa de Quinoa</td>
        <td>Felices Las Vacas</td>
        <td>$165</td>
      </tr>
      <tr>
        <td>Hamburguesa de Quinoa Verde</td>
        <td>Felices Las Vacas</td>
        <td>$175</td>
      </tr>
      <tr>
        <td>Hamburguesa de Lenteja</td>
        <td>Felices Las Vacas</td>
        <td>$155</td>
      </tr>
      <tr>
        <td>Hamburguesa de Hongos</td>
        <td>Felices Las Vacas</td>
        <td>$165</td>
      </tr>
      <tr>
        <td>Hamburguesa de Karne-Vil</td>
        <td>Felices Las Vacas</td>
        <td>$235/td>
      </tr>
      <tr>
        <td>Medallones de Pollo c/Jamón y Queso</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Medallones de Soja x4U</td>
        <td>Vía Veg</td>
        <td>$145</td>
      </tr>
      <tr>
        <td>Milanesas de Soja x4U</td>
        <td>vía Veg</td>
        <td>$150</td>
      </tr>
      <tr>
        <td>Milanesas de Garbanzo x4U</td>
        <td>Vía Veg</td>
        <td>$150</td>
      </tr>
      <tr>
        <td>Milanesas de Arveja x4U</td>
        <td>Vía Veg</td>
        <td>$150</td>
      </tr>
      <tr>
        <td>Milanesas de Lenteja x4U</td>
        <td>Vía Veg</td>
        <td>$150</td>
      </tr>
      <tr>
        <td>Milanesas de Garbanzo x4U</td>
        <td>Vía Veg</td>
        <td>$150</td>
      </tr>
      <tr>
        <td>Pechuga x Kg</td>
        <td></td>
        <td>$300</td>
      </tr>
      <tr>
        <td>Pizza Muzzalmendra Tradicional</td>
        <td>Felices Las Vacas</td>
        <td>$175</td>
      </tr>
      <tr>
        <td>Pizza Muzzalmendra y Brócoli</td>
        <td>Felices Las Vacas</td>
        <td>$175</td>
      </tr>
      <tr>
        <td>Pollo Orgánico xKg</td>
        <td></td>
        <td>$600</td>
      </tr>
    </tbody>
  </table>
  <h6 style="text-align: center;" >Productos Sujetos a Disponibilidad</h6>
  <br>
  <a href="#" class="btn btn-primary" routerLink="/productos">Volver</a>
</div>

<router-outlet></router-outlet>
