<div class="container">
  <h2 style="text-align: center;" >Lácteos</h2>
  <table class="table table-striped">
    <thead style="background-color: rgb(197,232,108);">
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Marca</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Dulce de Leche de Almendras x250g</td>
        <td>Felices Las Vacas</td>
        <td>$145</td>
      </tr>
      <tr>
        <td>Leche de Almendras</td>
        <td>Felices Las Vacas</td>
        <td>$115</td>
      </tr>
      <tr>
        <td>Leche de Almendras y Coco</td>
        <td>Felices Las Vacas</td>
        <td>$135</td>
      </tr>
      <tr>
        <td>Leche de Almendras sabor Chocolatada</td>
        <td>Felices Las Vacas</td>
        <td>$135</td>
      </tr>
      <tr>
        <td>Muzzarella de Almendras</td>
        <td>Felices Las Vacas</td>
        <td>$335</td>
      </tr>
      <tr>
        <td>Postre de Dulce de Coco y Chocolate</td>
        <td>Quimya</td>
        <td>$120</td>
      </tr>
      <tr>
        <td>Provoleta Vegana</td>
        <td>Felices Las Vacas</td>
        <td>$245</td>
      </tr>
      <tr>
        <td>Queso Cream Cheese (Sin TACC) x200g</td>
        <td>Juan Grande</td>
        <td>$155</td>
      </tr>
      <tr>
        <td>Queso Feta tipo Griego (Sin TACC) x300g</td>
        <td>Juan Grande</td>
        <td>$435</td>
      </tr>
      <tr>
        <td>Queso Halloumi listo para grillar (Sin TACC) x400g</td>
        <td>Juan Grande</td>
        <td>$465</td>
      </tr>
      <tr>
        <td>Queso Quartirolo (Sin TACC) x500g</td>
        <td>Juan Grande</td>
        <td>$650</td>
      </tr>
      <tr>
        <td>Queso Untable de Almendras x200g</td>
        <td>Felices Las Vacas</td>
        <td>$145</td>
      </tr>
      <tr>
        <td>Queso Untable de Almendras sabor Cheddar x200g</td>
        <td>Felices Las Vacas</td>
        <td>$155</td>
      </tr>
      <tr>
        <td>Queso Untable Felicia x200g</td>
        <td>Quimya</td>
        <td>$135</td>
      </tr>
      <tr>
        <td>Yogurt Almendras con Cereales</td>
        <td>Felices Las Vacas</td>
        <td>$95</td>
      </tr>
      <tr>
        <td>Yogurt Coco y Arándanos</td>
        <td>Quimya</td>
        <td>$120</td>
      </tr>
      <tr>
        <td>Yogurt Coco y Granola</td>
        <td>Quimya</td>
        <td>$120</td>
      </tr>
      <tr>
        <td>Yogurt Coco y Maracuyá</td>
        <td>Quimya</td>
        <td>$120</td>
      </tr>
      <tr>
        <td>Yogurt Coco y Vainilla</td>
        <td>Quimya</td>
        <td>$120</td>
      </tr>
      <tr>
        <td>Yogurt KeyLime Palta y Granola</td>
        <td>Quimya</td>
        <td>$120</td>
      </tr>

    </tbody>
  </table>
  <h6 style="text-align: center;" >Productos Sujetos a Disponibilidad</h6>
  <br>
  <a href="#" class="btn btn-primary" routerLink="/productos">Volver</a>
</div>

<router-outlet></router-outlet>
