  <div class="container">
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
      <div class="card h-100">
        <img src= "assets\img\Img Cafe.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cafetería</h5>
          <p class="card-text">Take Away</p>
          <a href="#" class="btn btn-primary" routerLink="/pedidos">Ver Lista</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="http://www.unidiversidad.com.ar/cache_2/frutas-y-verduras_630_945.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Frutas y Verduras</h5>
          <p class="card-text">Seleccionadas</p>
          <a href="#" class="btn btn-primary" routerLink="/pedidos">Ver Lista</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="assets\img\Img verdura organica.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Frutas y Verduras Órganicas</h5>
          <p class="card-text">Del campo a su mesa</p>
          <a href="#" class="btn btn-primary" routerLink="/pedidos">Ver Lista</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="assets\img\almacen.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Almacén</h5>
          <p class="card-text">Productos Gourmet</p>
          <a href="#" class="btn btn-primary" routerLink="/pedidos">Ver Lista</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="assets\img\Img Congelados.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Productos Congelados</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary" routerLink="/pedidos">Ver Lista</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="assets\img\Img Lacteos.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lácteos</h5>
          <p class="card-text">Vegetarianos</p>
          <a href="#" class="btn btn-primary" routerLink="/pedidos">Ver Lista</a>
        </div>
      </div>
    </div>
  </div>


</div>

<router-outlet></router-outlet>




