
.header {
    min-height: 100vh;
    background-image: url("https://images5.alphacoders.com/720/thumb-1920-720282.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: 3;
    }

.header .navbar {
  background-color: white;
  opacity: 0.9;
}

.header .navbar-brand {
  color: darkgrey;
  font-size: x-large;
  opacity: 0.9; 
  font-family: "Comic Sans MS",  sans-serif;
}
.header .nav-item {
  color:  darkgrey;
  font-size: large;

  opacity:0.9;
  font-family: "Comic Sans MS", sans-serif;
}

.header .nav-link {
  color: black;
  font-size: large;
  opacity: 0.9;
  font-family: "Comic Sans MS", sans-serif;
}

.header .dropdown-item {
  color: black;
  font-size: large;
  opacity: 1;
  font-family: "Comic Sans MS", sans-serif;
}

.dropdown-menu{
  background-color: yellowgreen;
  opacity: 1;
  background-position: top;
  font-family: "Comic Sans MS",  sans-serif;
}

