
<header class="header">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a routerLink="/"><img src="assets\img\Freshy-Isologotipo-01.jpg" style="max-width:40px;" ></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="#" class="nav-item nav-link" routerLink="/quienes-somos">Acerca de</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Menu</a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item" routerLink="/productos">Productos</a>
                    <a href="#" class="dropdown-item" routerLink="/galeria">Galería</a>
                    <a href="#" class="dropdown-item" routerLink="/pedidos">Consultas y Pedidos</a>
                    <a href="#" class="dropdown-item" routerLink="/contacto">Contacto</a>
                </div>
            </div>
          </div>
    </div>
</nav>
<router-outlet>

</router-outlet>
<app-footer></app-footer>
</header>






