
.header {
    min-height: 100vh;
    background-image: url("https://images5.alphacoders.com/720/thumb-1920-720282.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: 3;
    background-color: rgb(255, 255, 255, 0.8);
    }

.header .navbar {
  background-color: rgb(254, 254, 255, 0.8);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  word-spacing: -4px;
  color: #000000;
  font-weight: 700;
}


.header .nav-link {
  color: black;
  font-size: large;

}

.header .dropdown-item {
  color: black;
  font-size: large;

}

.dropdown-menu{
  background-color: yellowgreen;
  opacity: 1;
  background-position: top;

}

