<div class="container">
  <h2 style="text-align: center;" >Frutos Secos</h2>
  <table class="table table-striped">
    <thead style="background-color: rgb(197,232,108);">
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Tipo</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Almohaditas Avena</td>
        <td>x Kg</td>
        <td>$400</td>
      </tr>
      <tr>
        <td>Almohaditas Avellana</td>
        <td>x Kg</td>
        <td>$519</td>
      </tr>
      <tr>
        <td>Almohaditas Frutilla</td>
        <td>x Kg</td>
        <td>$519</td>
      </tr>
      <tr>
        <td>Almendras</td>
        <td>x Kg</td>
        <td>$1600</td>
      </tr>
      <tr>
        <td>Arándanos Deshidratados</td>
        <td>x Kg</td>
        <td>$1500</td>
      </tr>
      <tr>
        <td>Castañas de Cajú</td>
        <td>x Kg</td>
        <td>$1200</td>
      </tr>
      <tr>
        <td>Ciruela s/Carozo</td>
        <td>x Kg</td>
        <td>$426</td>
      </tr>
      <tr>
        <td>Maní en Vaina</td>
        <td>x Kg</td>
        <td>$275</td>
      </tr>
      <tr>
        <td>Maní s/Sal</td>
        <td>x Kg</td>
        <td>$240</td>
      </tr>
      <tr>
        <td>Maíz Tostado c/Sal</td>
        <td>x Kg</td>
        <td>$700</td>
      </tr>
      <tr>
        <td>Medallones de Durazno</td>
        <td>x Kg</td>
        <td>$750</td>
      </tr>
      <tr>
        <td>Mix Granola Freshy</td>
        <td>x Kg</td>
        <td>$650</td>
      </tr>
      <tr>
        <td>Mix de frutas Tropical</td>
        <td>x Kg</td>
        <td>$950</td>
      </tr>
      <tr>
        <td>Mix de frutas Premium</td>
        <td>x Kg</td>
        <td>$900</td>
      </tr>
      <tr>
        <td>Mix de Semillas</td>
        <td>x Kg</td>
        <td>$660</td>
      </tr>
      <tr>
        <td>Nuez con Cáscara</td>
        <td>x Kg</td>
        <td>$660</td>
      </tr>
      <tr>
        <td>Nuez Pelada</td>
        <td>x Kg</td>
        <td>$1400</td>
      </tr>
      <tr>
        <td>Nuez Moscada</td>
        <td>x Un</td>
        <td>$20</td>
      </tr>
      <tr>
        <td>Pasa de Uva s/Semilla</td>
        <td>x Kg</td>
        <td>$340</td>
      </tr>
    </tbody>
  </table>
  <h6 style="text-align: center;" >Productos Sujetos a Disponibilidad</h6>
  <br>
  <a href="#" class="btn btn-primary" routerLink="/productos">Volver</a>
</div>

<router-outlet></router-outlet>
