<div class="container">
  <h2 style="text-align: center;" >Frutas y Verduras Orgánicas</h2>
  <table class="table table-striped">
    <thead style="background-color: rgb(197,232,108);">
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Tipo</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Acelga</td>
        <td>x Atado</td>
        <td>$95</td>
      </tr>
      <tr>
        <td>Apio</td>
        <td>x Un</td>
        <td>$85</td>
      </tr>
      <tr>
        <td>Brócoli</td>
        <td>x Un</td>
        <td>$85</td>
      </tr>
      <tr>
        <td>Cebolla de Verdeo</td>
        <td>x Atado</td>
        <td>$40</td>
      </tr>
      <tr>
        <td>Choclo</td>
        <td>x Bandeja</td>
        <td>$110</td>
      </tr>
      <tr>
        <td>Espinaca</td>
        <td>x Atado</td>
        <td>$85</td>
      </tr>
      <tr>
        <td>Hinojo</td>
        <td>x Un</td>
        <td>$25</td>
      </tr>
      <tr>
        <td>Kale</td>
        <td>x Atado</td>
        <td>$85</td>
      </tr>
      <tr>
        <td>Kiwi</td>
        <td>x Kg</td>
        <td>$250</td>
      </tr>
      <tr>
        <td>Lechuga Crespa</td>
        <td>x Kg</td>
        <td>$150</td>
      </tr>
      <tr>
        <td>Lechuga Capuccina</td>
        <td>x Kg</td>
        <td>$150</td>
      </tr>
      <tr>
        <td>Puerro</td>
        <td>x Un</td>
        <td>$40</td>
      </tr>
      <tr>
        <td>Remolacha</td>
        <td>x Atado</td>
        <td>$85</td>
      </tr>
      <tr>
        <td>Repollo</td>
        <td>x Un</td>
        <td>$100</td>
      </tr>
      <tr>
        <td>Rúcula</td>
        <td>x Atado</td>
        <td>$40</td>
      </tr>
      <tr>
        <td>Zanahoria</td>
        <td>x Atado</td>
        <td>$120</td>
      </tr>
      <tr>
        <td>Zapallo Coreano</td>
        <td>x Unidad</td>
        <td>$95</td>
      </tr>
    </tbody>
  </table>
  <h6 style="text-align: center;" >Productos Sujetos a Disponibilidad</h6>
  <br>
  <a href="#" class="btn btn-primary" routerLink="/productos">Volver</a>
</div>

<router-outlet></router-outlet>
