<div class="container">
  <h2 style="text-align: center;" >Cafetería</h2>
  <table class="table table-striped">
    <thead style="background-color: rgb(197,232,108);">
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <h4>Muy Pronto!</h4>
    </tbody>
  </table>
  <h6 style="text-align: center;" ></h6>
  <br>
  <a href="#" class="btn btn-primary" routerLink="/productos">Volver</a>
</div>

<router-outlet></router-outlet>
