<div class="container">
  <h2 style="text-align: center;" >Almacén</h2>
  <table class="table table-striped">
    <thead style="background-color: rgb(197,232,108);">
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Marca</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Aceite de Oliva x250ml</td>
        <td>La Toscana</td>
        <td>$246</td>
      </tr>
      <tr>
        <td>Aceite de Oliva Clásico x250ml</td>
        <td>Zuelo</td>
        <td>$255</td>
      </tr>
      <tr>
        <td>Aceite de Oliva Orgánico x250ml</td>
        <td>Zuelo</td>
        <td>$315</td>
      </tr>
      <tr>
        <td>Aceite de Oliva Clásico x500ml</td>
        <td>Zuelo</td>
        <td>$465</td>
      </tr>
      <tr>
        <td>Aceite de Oliva Intenso x500ml</td>
        <td>Zuelo</td>
        <td>$465</td>
      </tr>
      <tr>
        <td>Aceite de Oliva Suave x500ml</td>
        <td>Zuelo</td>
        <td>$465</td>
      </tr>
      <tr>
        <td>Aceite de Oliva Clásico Lata x500ml</td>
        <td>Zuelo</td>
        <td>$465</td>
      </tr>
      <tr>
        <td>Aceite de Oliva Clásico Lata x1000ml</td>
        <td>Zuelo</td>
        <td>$805</td>
      </tr>
      <tr>
        <td>Aceite de Oliva Clásico B.I.B x5000ml</td>
        <td>Zuelo</td>
        <td>$3265</td>
      </tr>
      <tr>
        <td>Aceite de Oliva Clásico Mini x20ml</td>
        <td>Zuelo</td>
        <td>$35</td>
      </tr>
      <tr>
        <td>Aceite de Oliva Botellón Orgánico x2000ml</td>
        <td>Zuelo</td>
        <td>$2655</td>
      </tr>
      <tr>
        <td>Aceite Varietal Arauco x250ml</td>
        <td>Flia. Zuccardi</td>
        <td>$367</td>
      </tr>
      <tr>
        <td>Aceite Varietal Changlot x250ml</td>
        <td>Flia. Zuccardi</td>
        <td>$320</td>
      </tr>
      <tr>
        <td>Aceite Varietal Coratina x250ml</td>
        <td>Flia. Zuccardi</td>
        <td>$320</td>
      </tr>
      <tr>
        <td>Aceite Varietal Picual x250ml</td>
        <td>Flia. Zuccardi</td>
        <td>$320</td>
      </tr>
      <tr>
        <td>Aceite de Oliva Extra Virgen x500ml</td>
        <td>El Faro</td>
        <td>$365</td>
      </tr>
      <tr>
        <td>Aceite de Oliva Extra Virgen x1000ml</td>
        <td>El Faro</td>
        <td>$496</td>
      </tr>
      <tr>
        <td>Aceto Balsámico x400g</td>
        <td>Casalta</td>
        <td>$221</td>
      </tr>
      <tr>
        <td>Aceitunas Verdes x330g</td>
        <td>Marvavic</td>
        <td>$125</td>
      </tr>
      <tr>
        <td>Aceitunas Verdes Descarozadas x330</td>
        <td>Marvavic</td>
        <td>$125</td>
      </tr>
      <tr>
        <td>Aderezo Alioli x332g</td>
        <td>Hellmans</td>
        <td>$122</td>
      </tr>
      <tr>
        <td>Aderezo American Barbecue x380g</td>
        <td>Hellmans</td>
        <td>$122</td>
      </tr>
      <tr>
        <td>Aderezo American Style x380g</td>
        <td>Hellmans</td>
        <td>$122</td>
      </tr>
      <tr>
        <td>Aderezo Burguer Sauce x332g</td>
        <td>Hellmans</td>
        <td>$122</td>
      </tr>
      <tr>
        <td>Aderezo Caesar x250g</td>
        <td>Pampa Gourmet</td>
        <td>$245</td>
      </tr>
      <tr>
        <td>Aderezo Salsa Barbacoa x400g</td>
        <td>Hellmans</td>
        <td>$122</td>
      </tr>
      <tr>
        <td>Aderezo Yellow x170g</td>
        <td>Hellmans</td>
        <td>$100</td>
      </tr>
      <tr>
        <td>Alfajor Bañado en Chocolate con untable de Almendras</td>
        <td>Felices Las Vacas</td>
        <td>$75</td>
      </tr>
      <tr>
        <td>Alfajor de Maicena con untable de Almendras</td>
        <td>Felices Las Vacas</td>
        <td>$75</td>
      </tr>
      <tr>
        <td>Arroz Oro xKg</td>
        <td>Gallo</td>
        <td>$117</td>
      </tr>
      <tr>
        <td>Arroz Carnaroli x500g</td>
        <td>Gallo</td>
        <td>$158</td>
      </tr>
      <tr>
        <td>Azúcar (Sin TACC)</td>
        <td>Chango</td>
        <td>$90</td>
      </tr>
      <tr>
        <td>Azúcar Negra</td>
        <td>Valle Imperial</td>
        <td>$95</td>
      </tr>
      <tr>
        <td>Azúcar Orgánica</td>
        <td>Valle Imperial</td>
        <td>$155</td>
      </tr>
      <tr>
        <td>Bocaditos de Arroz c/Maní</td>
        <td>Lee's</td>
        <td>$65</td>
      </tr>
      <tr>
        <td>Caldo Gallina x2un</td>
        <td>Knorr</td>
        <td>$20</td>
      </tr>
      <tr>
        <td>Cebolla Deshidratada xKg</td>
        <td></td>
        <td>$950</td>
      </tr>
      <tr>
        <td>Cous Cous x500g</td>
        <td>Divella</td>
        <td>$392</td>
      </tr>
      <tr>
        <td>Dulce de Alcayota x450g</td>
        <td>Mupay</td>
        <td>$255</td>
      </tr>
      <tr>
        <td>Fideos de Arroz Grue x500g</td>
        <td>Fu Sheng</td>
        <td>$416</td>
      </tr>
      <tr>
        <td>Fideos Tallarín x500g</td>
        <td>Don Vicente</td>
        <td>$96</td>
      </tr>
      <tr>
        <td>Fideos Espinaca x500g</td>
        <td>Don Vicente</td>
        <td>$112</td>
      </tr>
      <tr>
        <td>Fideos Pipette Maíz x500g (Sin TACC)</td>
        <td>Pasta D'Oro</td>
        <td>$180</td>
      </tr>
      <tr>
        <td>Fideos Tirabuzón Maíz x500g (Sin TACC)</td>
        <td>Pasta D'Oro</td>
        <td>$180</td>
      </tr>
      <tr>
        <td>Fideos Conchiliette Maíz x500g (Sin TACC)</td>
        <td>Pasta D'Oro</td>
        <td>$180</td>
      </tr>
      <tr>
        <td>Fusilli Multicereal Amaranto x250g (Sin TACC)</td>
        <td>Wakas</td>
        <td>$140</td>
      </tr>
      <tr>
        <td>Fusilli Multicereal Chía x250g (Sin TACC)</td>
        <td>Wakas</td>
        <td>$140</td>
      </tr>
      <tr>
        <td>Fusilli Multicereal Kale x250g (Sin TACC)</td>
        <td>Wakas</td>
        <td>$140</td>
      </tr>
      <tr>
        <td>Fusilli Multicereal Maíz x250g (Sin TACC)</td>
        <td>Wakas</td>
        <td>$140</td>
      </tr>
      <tr>
        <td>Fusilli Multicereal Quinoa x250g (Sin TACC)</td>
        <td>Wakas</td>
        <td>$140</td>
      </tr>
      <tr>
        <td>Galletitas Pepas Veganas</td>
        <td>Felices Las Vacas</td>
        <td>$95</td>
      </tr>
      <tr>
        <td>Fusilli Multicereal Maíz x250g (Sin TACC)</td>
        <td>Wakas</td>
        <td>$140</td>
      </tr>
      <tr>
        <td>Hongos Secos Patagónicos xKg</td>
        <td></td>
        <td>$1500</td>
      </tr>
      <tr>
        <td>Higos en Almíbar</td>
        <td>Mupay</td>
        <td>$350</td>
      </tr>
      <tr>
        <td>Laurel Molido</td>
        <td>Alicante</td>
        <td>$35</td>
      </tr>
      <tr>
        <td>Le Choc</td>
        <td>Felices Las Vacas</td>
        <td>$90</td>
      </tr>
      <tr>
        <td>Leche Condensada x39g</td>
        <td>Nestlé</td>
        <td>$165</td>
      </tr>
      <tr>
        <td>Mate Cocido x40s</td>
        <td>Taragüi</td>
        <td>$176</td>
      </tr>
      <tr>
        <td>Mayonesa Clásica x332g</td>
        <td>Hellmans</td>
        <td>$122</td>
      </tr>
      <tr>
        <td>Mermelada Arándanos Light x390g</td>
        <td>Cromillot</td>
        <td>$150</td>
      </tr>
      <tr>
        <td>Mermelada Higos Light x390g</td>
        <td>Cromillot</td>
        <td>$175</td>
      </tr>
      <tr>
        <td>Mermelada Frambuesa Light x390g</td>
        <td>Cromillot</td>
        <td>$165</td>
      </tr>
      <tr>
        <td>Mermelada Frutilla Light x390g</td>
        <td>Cromillot</td>
        <td>$150</td>
      </tr>
      <tr>
        <td>Mermelada Duraznos Light x390g</td>
        <td>Cromillot</td>
        <td>$150</td>
      </tr>
      <tr>
        <td>Mermelada Ciruela x420g (Orgánica sin TACC)</td>
        <td>Las Quinas</td>
        <td>$300</td>
      </tr>
      <tr>
        <td>Mermelada Ciruela x420g (Orgánica sin TACC)</td>
        <td>Las Quinas</td>
        <td>$300</td>
      </tr>
      <tr>
        <td>Mermelada Durazno x420g (Orgánica sin TACC)</td>
        <td>Las Quinas</td>
        <td>$300</td>
      </tr>
      <tr>
        <td>Mermelada Frutos Rojos x420g (Orgánica sin TACC)</td>
        <td>Las Quinas</td>
        <td>$300</td>
      </tr>
      <tr>
        <td>Mermelada Frutilla x420g (Orgánica sin TACC)</td>
        <td>Las Quinas</td>
        <td>$300</td>
      </tr>
      <tr>
        <td>Mermelada Frutilla s/Azúcar x420g (Orgánica sin TACC)</td>
        <td>Las Quinas</td>
        <td>$300</td>
      </tr>
      <tr>
        <td>Mermelada Arándanos s/Azúcar x420g (Orgánica sin TACC)</td>
        <td>Las Quinas</td>
        <td>$300</td>
      </tr>
      <tr>
        <td>Mermelada Frutos Rojos s/Azúcar x420g (Orgánica sin TACC)</td>
        <td>Las Quinas</td>
        <td>$300</td>
      </tr>
      <tr>
        <td>Mermelada Durazno s/Azúcar x420g (Orgánica sin TACC)</td>
        <td>Las Quinas</td>
        <td>$300</td>
      </tr>
      <tr>
        <td>Miel Clásica x500g</td>
        <td>Las Quinas</td>
        <td>$300</td>
      </tr>
      <tr>
        <td>Miel Cremosa Orgánica x500g</td>
        <td>Las Quinas</td>
        <td>$300</td>
      </tr>
      <tr>
        <td>Miel Clásica Orgánica x500g</td>
        <td>Los Nobles</td>
        <td>$200</td>
      </tr>
      <tr>
        <td>Miel Clásica x1000g</td>
        <td>Los Nobles</td>
        <td>$300</td>
      </tr>
      <tr>
        <td>Palitos Brochette</td>
        <td></td>
        <td>$40</td>
      </tr>
      <tr>
        <td>Pasta de Maní x480g</td>
        <td>Maní King</td>
        <td>$195</td>
      </tr>
      <tr>
        <td>Puré de Tomate x520g</td>
        <td>Cica</td>
        <td>$59</td>
      </tr>
      <tr>
        <td>Sal Fina x250g</td>
        <td>Celusal</td>
        <td>$114</td>
      </tr>
      <tr>
        <td>Sal Fina 66% x90g</td>
        <td>Genser</td>
        <td>$141</td>
      </tr>
      <tr>
        <td>Salsa de Caramelo x950g (Sin TACC)</td>
        <td>Fabbri</td>
        <td>$450</td>
      </tr>
      <tr>
        <td>Salsa de Dulce de Leche x500g (Sin TACC)</td>
        <td>Jamer</td>
        <td>$145</td>
      </tr>
      <tr>
        <td>Tabasco Rojo x60ml</td>
        <td>Mc.Ilhenny Company</td>
        <td>$430</td>
      </tr>
      <tr>
        <td>Té Clásico x50s</td>
        <td>Taragüi</td>
        <td>$272</td>
      </tr>
      <tr>
        <td>Té Ceylon x25s</td>
        <td>Taragüi</td>
        <td>$205</td>
      </tr>
      <tr>
        <td>Té Earl Grey x25s</td>
        <td>Taragüi</td>
        <td>$190</td>
      </tr>
      <tr>
        <td>Té Tilo x25s</td>
        <td>Taragüi</td>
        <td>$153</td>
      </tr>
      <tr>
        <td>Té Verde x20s</td>
        <td>Taragüi</td>
        <td>$90</td>
      </tr>
      <tr>
        <td>Té Mezcla Hierbas x25s</td>
        <td>Taragüi</td>
        <td>$90</td>
      </tr>
      <tr>
        <td>Té Manzanilla x25s</td>
        <td>Taragüi</td>
        <td>$83</td>
      </tr>
      <tr>
        <td>Té Frutos Rojos x20s</td>
        <td>Taragüi</td>
        <td>$110</td>
      </tr>
      <tr>
        <td>Té Limón y Miel x20s</td>
        <td>Taragüi</td>
        <td>$110</td>
      </tr>
      <tr>
        <td>Teriyaki</td>
        <td>Pampa Gourmet</td>
        <td>$180</td>
      </tr>
      <tr>
        <td>Teriyaki</td>
        <td>Pampa Gourmet</td>
        <td>$180</td>
      </tr>
      <tr>
        <td>Tofu Soyana</td>
        <td>Felices Las Vacas</td>
        <td>$215</td>
      </tr>
      <tr>
        <td>Tomates Disecados xKg</td>
        <td>San Juan</td>
        <td>$1350</td>
      </tr>
      <tr>
        <td>Tomate Trituado x500g</td>
        <td>Sabio</td>
        <td>$65</td>
      </tr>
      <tr>
        <td>Tomate Triturado x950g (Sin TACC)</td>
        <td>Productos DF</td>
        <td>$95</td>
      </tr>
      <tr>
        <td>Tomate Triturado Orgánico x500g</td>
        <td>Pampa Gourmet</td>
        <td>$185</td>
      </tr>
      <tr>
        <td>Tomate Triturado Orgánico x910g</td>
        <td>Pampa Gourmet</td>
        <td>$295</td>
      </tr>
      <tr>
        <td>Vinagre x250ml</td>
        <td>Zuelo</td>
        <td>$185</td>
      </tr>
      <tr>
        <td>Vinagre de Alcohol x500ml</td>
        <td>Marvavic</td>
        <td>$55</td>
      </tr>
      <tr>
        <td>Vinagre de Arroz x750ml</td>
        <td>Castelo</td>
        <td>$465</td>
      </tr>
      <tr>
        <td>Vinagre de Manzana x500ml</td>
        <td>Marvavic</td>
        <td>$55</td>
      </tr>
      <tr>
        <td>Yerba de Campo x500g</td>
        <td>La Merced</td>
        <td>$277</td>
      </tr>
      <tr>
        <td>Zapallos en Almíbar</td>
        <td>Mupay</td>
        <td>$205</td>
      </tr>
    </tbody>
  </table>
  <h6 style="text-align: center;" >Productos Sujetos a Disponibilidad</h6>
  <br>
  <a href="#" class="btn btn-primary" routerLink="/productos">Volver</a>
</div>

<router-outlet></router-outlet>
