<div class="container">
  <h2 style="text-align: center;" >Almacén</h2>
  <table class="table table-striped">
    <thead style="background-color: rgb(197,232,108);">
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Marca</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Aceite de Oliva x250ml</td>
        <td>La Toscana</td>
        <td>$246</td>
      </tr>
      <tr>
        <td>Aceite de Oliva Clásico x250ml</td>
        <td>Zuelo</td>
        <td>$255</td>
      </tr>
      <tr>
        <td>Aceite de Oliva Orgánico x250ml</td>
        <td>Zuelo</td>
        <td>$315</td>
      </tr>
      <tr>
        <td>Aceite de Oliva Clásico x500ml</td>
        <td>Zuelo</td>
        <td>$465</td>
      </tr>
      <tr>
        <td>Aceite de Oliva Intenso x500ml</td>
        <td>Zuelo</td>
        <td>$465</td>
      </tr>
      <tr>
        <td>Aceite de Oliva Suave x500ml</td>
        <td>Zuelo</td>
        <td>$465</td>
      </tr>
      <tr>
        <td>Aceite de Oliva Clásico Lata x500ml</td>
        <td>Zuelo</td>
        <td>$465</td>
      </tr>
      <tr>
        <td>Aceite de Oliva Clásico Lata x1000ml</td>
        <td>Zuelo</td>
        <td>$805</td>
      </tr>
      <tr>
        <td>Aceite de Oliva Clásico B.I.B x5000ml</td>
        <td>Zuelo</td>
        <td>$3265</td>
      </tr>
      <tr>
        <td>Aceite de Oliva Clásico Mini x20ml</td>
        <td>Zuelo</td>
        <td>$35</td>
      </tr>
      <tr>
        <td>Aceite de Oliva Botellón Orgánico x2000ml</td>
        <td>Zuelo</td>
        <td>$2655</td>
      </tr>
      <tr>
        <td>Aceite Varietal Arauco x250ml</td>
        <td>Flia. Zuccardi</td>
        <td>$367</td>
      </tr>
      <tr>
        <td>Aceite Varietal Changlot x250ml</td>
        <td>Flia. Zuccardi</td>
        <td>$320</td>
      </tr>
      <tr>
        <td>Aceite Varietal Coratina x250ml</td>
        <td>Flia. Zuccardi</td>
        <td>$320</td>
      </tr>
      <tr>
        <td>Aceite Varietal Picual x250ml</td>
        <td>Flia. Zuccardi</td>
        <td>$320</td>
      </tr>
      <tr>
        <td>Aceite de Oliva Extra Virgen x500ml</td>
        <td>El Faro</td>
        <td>$365</td>
      </tr>
      <tr>
        <td>Aceite de Oliva Extra Virgen x1000ml</td>
        <td>El Faro</td>
        <td>$496</td>
      </tr>
      <tr>
        <td>Aceto Balsámico x400g</td>
        <td>Casalta</td>
        <td>$221</td>
      </tr>
      <tr>
        <td>Aceitunas Verdes x330g</td>
        <td>Marvavic</td>
        <td>$125</td>
      </tr>
      <tr>
        <td>Aceitunas Verdes Descarozadas x330</td>
        <td>Marvavic</td>
        <td>$125</td>
      </tr>
      <tr>
        <td>Aderezo Alioli x332g</td>
        <td>Hellmans</td>
        <td>$122</td>
      </tr>
      <tr>
        <td>Aderezo American Barbecue x380g</td>
        <td>Hellmans</td>
        <td>$122</td>
      </tr>
      <tr>
        <td>Aderezo American Style x380g</td>
        <td>Hellmans</td>
        <td>$122</td>
      </tr>
      <tr>
        <td>Aderezo Burguer Sauce x332g</td>
        <td>Hellmans</td>
        <td>$122</td>
      </tr>
      <tr>
        <td>Aderezo Caesar x250g</td>
        <td>Pampa Gourmet</td>
        <td>$245</td>
      </tr>
      <tr>
        <td>Aderezo Salsa Barbacoa x400g</td>
        <td>Hellmans</td>
        <td>$122</td>
      </tr>
      <tr>
        <td>Aderezo Yellow x170g</td>
        <td>Hellmans</td>
        <td>$100</td>
      </tr>
      <tr>
        <td>Alfajor Bañado en Chocolate</td>
        <td>Felices Las Vacas</td>
        <td>$75</td>
      </tr>
      <tr>
        <td>Alfajor de Maicena</td>
        <td>Felices Las Vacas</td>
        <td>$75</td>
      </tr>
      <tr>
        <td>Arroz Oro xKg</td>
        <td>Gallo</td>
        <td>$117</td>
      </tr>
      <tr>
        <td>Arroz Carnaroli x500g</td>
        <td>Gallo</td>
        <td>$158</td>
      </tr>
      <tr>
        <td>Azúcar (Sin TACC)</td>
        <td>Chango</td>
        <td>$90</td>
      </tr>
      <tr>
        <td>Azúcar Negra</td>
        <td>Valle Imperial</td>
        <td>$95</td>
      </tr>
      <tr>
        <td>Azúcar Orgánica</td>
        <td>Valle Imperial</td>
        <td>$155</td>
      </tr>
      <tr>
        <td>Bocaditos de Arroz c/Maní</td>
        <td>Lee's</td>
        <td>$65</td>
      </tr>
      <tr>
        <td>Bocaditos de Maíz</td>
        <td>Lee's</td>
        <td>$65</td>
      </tr>
      <tr>
        <td>Caldo Gallina x2un</td>
        <td>Knorr</td>
        <td>$20</td>
      </tr>
      <tr>
        <td>Cebolla Deshidratada xKg</td>
        <td></td>
        <td>$950</td>
      </tr>
      <tr>
        <td>Cous Cous x500g</td>
        <td>Divella</td>
        <td>$392</td>
      </tr>
      <tr>
        <td>Dulce de Alcayota x450g</td>
        <td>Mupay</td>
        <td>$255</td>
      </tr>
      <tr>
        <td>Fideos de Arroz Grue x500g</td>
        <td>Fu Sheng</td>
        <td>$416</td>
      </tr>
      <tr>
        <td>Fideos Tallarín x500g</td>
        <td>Don Vicente</td>
        <td>$96</td>
      </tr>
      <tr>
        <td>Fideos Espinaca x500g</td>
        <td>Don Vicente</td>
        <td>$112</td>
      </tr>
      <tr>
        <td>Fideos Pipette Maíz x500g (Sin TACC)</td>
        <td>Pasta D'Oro</td>
        <td>$180</td>
      </tr>
      <tr>
        <td>Fideos Tirabuzón Maíz x500g (Sin TACC)</td>
        <td>Pasta D'Oro</td>
        <td>$180</td>
      </tr>
      <tr>
        <td>Fideos Conchiliette Maíz x500g (Sin TACC)</td>
        <td>Pasta D'Oro</td>
        <td>$180</td>
      </tr>
      <tr>
        <td>Fusilli Multicereal Amaranto x250g (Sin TACC)</td>
        <td>Wakas</td>
        <td>$140</td>
      </tr>
      <tr>
        <td>Fusilli Multicereal Chía x250g (Sin TACC)</td>
        <td>Wakas</td>
        <td>$140</td>
      </tr>
      <tr>
        <td>Fusilli Multicereal Kale x250g (Sin TACC)</td>
        <td>Wakas</td>
        <td>$140</td>
      </tr>
      <tr>
        <td>Fusilli Multicereal Maíz x250g (Sin TACC)</td>
        <td>Wakas</td>
        <td>$140</td>
      </tr>
      <tr>
        <td>Fusilli Multicereal Quinoa x250g (Sin TACC)</td>
        <td>Wakas</td>
        <td>$140</td>
      </tr>
      <tr>
        <td>Galletitas Pepas Veganas</td>
        <td>Felices Las Vacas</td>
        <td>$95</td>
      </tr>
      <tr>
        <td>Fusilli Multicereal Maíz x250g (Sin TACC)</td>
        <td>Wakas</td>
        <td>$140</td>
      </tr>
      <tr>
        <td>Hongos Secos Patagónicos xKg</td>
        <td></td>
        <td>$1500</td>
      </tr>
      <tr>
        <td>Higos en Almíbar</td>
        <td>Mupay</td>
        <td>$350</td>
      </tr>
    </tbody>
  </table>
  <h6 style="text-align: center;" >Productos Sujetos a Disponibilidad</h6>
  <br>
  <a href="#" class="btn btn-primary" routerLink="/productos">Volver</a>
</div>

<router-outlet></router-outlet>
